name: CI-CD pipeline

on:
    push:
        branches:
            - main

jobs: 
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: Login to Docker hub
              run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
            - name: Build image
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/tourism-website:latest .
            - name: Push Docker image
              run: docker push ${{ secrets.DOCKER_USERNAME }}/tourism-website:latest
    deploy:
        needs: build-and-push
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to EC2 via SSH
              env:
                EC2_HOST:     ${{ secrets.EC2_HOST }}
                EC2_USER:     ${{ secrets.EC2_USERNAME }}
                SSH_KEY:      ${{ secrets.EC2_SSH_KEY }}
              run: |
                
                mkdir -p ~/.ssh
                echo "$SSH_KEY" > ~/.ssh/ec2_key
                chmod 600 ~/.ssh/ec2_key

                
                ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts || true
                ssh -i ~/.ssh/ec2_key $EC2_USER@$EC2_HOST << 'EOF'

                echo "===== Starting deployment on $(date) ====="

                sudo systemctl start docker 2>/dev/null || true
                sudo systemctl enable docker 2>/dev/null || true

                docker pull ${{ secrets.DOCKER_USERNAME }}/tourism-website:latest

                docker stop tourism-web  >/dev/null 2>&1 || true
                docker rm tourism-web    >/dev/null 2>&1 || true

                # Start new container
                docker run -d \
                --name tourism-web \
                -p 80:80 \
                --restart unless-stopped \
                ${{ secrets.DOCKER_USERNAME }}/tourism-website:latest

                echo "===== Deployment finished ====="
                echo "Current running containers:"
                docker ps --format "table {{.ID}}\t{{.Names}}\t{{.Status}}\t{{.Ports}}"

                EOF